.footer {
	background-color: $grey-20;

	&__inner {
		max-width: 1440px;
		margin: 0 auto;
		padding: 32px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	&__box, .box {
		border-right: 1px solid $blue-100;
		padding: 16px 32px;

		&__heading {
			text-align: center;
			margin-bottom: 16px;
		}

		&__button-container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-content: center;
			gap: 24px;
		}

		&__item, .item {

			&__link {

			}

			&__text {
				text-align: center;
        font-family: "Beausite-Slick", Arial, sans-serif;
			}
		}

		&:last-child {
			border: none;
		}

	}

	@media (max-width: 1000px) {

		&__box, .box {

			&__button-container {
				display: grid;
				grid-template-columns: auto;
				grid-template-rows: auto auto;
				justify-content: center;
				gap: 24px;
			}

		}

	}

	@media (max-width: 750px) {

		&__inner {
			grid-template-columns: auto;
			grid-template-rows: auto auto auto;
		}

		&__box, .box {
			border-right: 0;
			border-bottom: 1px solid $blue-100;
			padding: 32px;

			&__button-container {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: auto;
				justify-content: center;
				max-width: 360px;
				margin: 0 auto;
			}

		}

	}

	@media (max-width: 450px) {

		&__box, .box {

			&__button-container {
				grid-template-columns: auto;
				grid-template-rows: auto auto;
				max-width: unset;
			}
			
		}
		
	}

}