.sell-form {
	background-color: $blue-100;
	position: relative;
	margin-top: 120px;

	&__container, .container {
		display: grid;
		grid-template-areas: 
			"heading picture"
			"personal-data picture"
			"dress picture"
			"action picture";
		grid-template-columns: auto 320px;
		grid-template-rows: auto auto auto auto ;
		grid-row-gap: 32px;
		grid-column-gap: 64px;

		& > * {
			position: relative;
			bottom: 120px;
		}

		&__heading {
			grid-area: heading;
			color: $blue-100;
			margin-bottom: 40px;
		}

		&__picture {
			grid-area: picture;
			align-self: start;
			justify-self: start;
			margin-left: -32px;
		}

		&__personal-data, .personal-data {
			grid-area: personal-data;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 24px;
			
			&__heading {
				color: $grey-60;
			}
		
			&__heading,
			&__input--street,
			&__input--town {
				grid-column: span 2;
			}

		}

		&__dress, .dress {
			grid-area: dress;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 24px;

			&__heading {
				color: $grey-60;
			}

			&__heading,
            &__input--brand {
                grid-column: span 2;
            }

		}


		&__action, .action {
			grid-area: action;
			display: grid;

			&__submit {
				margin-top: auto;
				justify-self: end;
				margin-bottom: 0;
			}

		}

	}

	@media (max-width: 950px) {

		&__container, .container {
			grid-template-columns: auto 240px;

			&__try-on, .try-on {
				grid-template-columns: 1fr;
				
				&__heading,
				&__input  {
					grid-column: span 1;
				}

			}

		}

	}

	@media (max-width: 850px) {

		&__container, .container {
			grid-template-areas: 
				"heading"
				"personal-data"
				"dress"
				"action";
			grid-template-columns: 100%;
			grid-row-gap: 32px;
			grid-column-gap: 64px;
			
			&__picture {
				display: none;
			}
			
			&__personal-data, .personal-data {
				grid-template-columns: 1fr;

				&__heading,
				&__input {
					grid-column: span 1;
				}

			}

            &__dress, .dress {
                grid-template-columns: 1fr;

                &__heading,
                &__input--brand {
                    grid-column: span 1;
                }

            }

		}	

	}

	@media (max-width: 500px) {

		&__container, .container {

			& > * {
				position: relative;
				bottom: 80px;
			}

			&__heading {
				margin-bottom: 16px;
			}

		}

	}

}