.hero {
	overflow: hidden;
	margin-top: 80px;

	&__teaser, .teaser {
		position: relative;
		width: 100%;
		height: 640px;
		margin-bottom: 32px;

		&__item {
			position: absolute;
			flex-shrink: 0;
			transform: translateX(-50%);

			&:nth-child(1) {
				top: 80px;
				left: calc(50% - 320px);
				z-index: 20;
			}

			&:nth-child(2) {
				top: 136px;
				left: calc(50% - 120px);
				z-index: 10;
			}

			&:nth-child(3) {
				top: 0;
				left: calc(50% + 60px);
				z-index: 20;
			}

			&:nth-child(4) {
				top: 160px;
				left: calc(50% + 304px);
				z-index: 20;
			}

		}

	}

	&__heading {
		text-align: center;
		margin-bottom: 24px;
	}

	&__subheading {
		text-align: center;
		margin-bottom: 120px;
	}

	@media (max-width: 950px) {

		&__teaser, .teaser {
			height: 440px;
	
			&__item {
				position: absolute;
				flex-shrink: 0;
				transform: translateX(-50%);
	
				&:nth-child(1) {
					top: 48px;
					left: calc(50% - 240px);
					z-index: 20;
				}
	
				&:nth-child(2) {
					top: 96px;
					left: calc(50% - 80px);
					z-index: 10;
				}
	
				&:nth-child(3) {
					top: 0;
					left: calc(50% + 80px);
					z-index: 20;
				}
	
				&:nth-child(4) {
					top: 80px;
					left: calc(50% + 240px);
					z-index: 20;
				}
	
			}
	
		}

	}

	@media (max-width: 800px) {
		margin-top: 40px;

		&__teaser, .teaser {
			height: 384px;
	
			&__item {
				position: absolute;
				flex-shrink: 0;
				transform: translateX(-50%);
	
				&:nth-child(1) {
					top: 0;
					left: calc(50% - 80px);
					z-index: 20;
				}
	
				&:nth-child(2) {
					display: none;
				}
	
				&:nth-child(3) {
					display: none;
				}
	
				&:nth-child(4) {
					top: 56px;
					left: calc(50% + 80px);
					z-index: 15;
				}
	
			}
	
		}	

	}

	@media (max-width: 480px) {

		&__teaser, .teaser {

			&__item {
				width: 200px;
				height: 280px;

				&:nth-child(1) {
					top: 0;
					left: calc(50% - 64px);
					z-index: 20;
				}
	
				&:nth-child(4) {
					top: 56px;
					left: calc(50% + 56px);
					z-index: 15;
				}
			}
			
		}
	}
		
}