.input-file {
	margin-top: 4px;

	&__label {
		color: $grey-60;
		margin-bottom: 16px;
	}

	&__input-container, .input-container {
		display: flex;
		flex-direction: row;
			
		&__header, .header {
			background-color: $grey-60;
			border-radius: 4px;
			min-width: 240px;

			&__text {
				padding: 4px 8px;
				color: $blue-100;
			}

		}

		&__action, .action {
			background-color: $grey-60;
			color: $grey-60;
			background-repeat: no-repeat;
			background-size: 12px;
			background-position: center;
			width: 36px;
			display: grid;
			place-items: center;
			margin-left: 4px;
			border-radius: 4px;
			cursor: pointer;

			&__icon {
				color: $blue-100;
				font-size: 16px;
			}

		}

	}

	&__fake-input {
		display: none;
	}

	&__error {
		margin-top: 4px;
		color: $red-100;
	}

}