.buy-form {
	background-color: $blue-100;
	position: relative;
	margin-top: 64px;

	&__container, .container {
		display: grid;
		grid-template-areas: 
			"empty heading"
			"picture personal-data"
			"dress appointment"
			"dress upload"
			"dress submit";
		grid-template-columns: 320px auto;
		grid-template-rows: auto auto auto auto ;
		grid-column-gap: 32px;

		&__heading {
			grid-area: heading;
			color: $blue-100;
			position: relative; 
			bottom: 80px;
		}

		&__picture {
			grid-area: picture;
			height: 400px;
			align-self: start;
			justify-self: start;
			position: relative;
			bottom: 120px;
		}

		&__personal-data, .personal-data {
			grid-area: personal-data;
			border: 1px solid red;
			position: relative;
			bottom: 48px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-areas: 
				"heading heading"
				"firstname lastname"
				"street street"
				"town town";
			grid-gap: 32px;

			&__heading {
				color: $white-100;
				margin-bottom: 32px;
				grid-area: heading;
			}

			&__input--firstname {
				grid-area: firstname;
			}

			&__input--lastname {
				grid-area: lastname;
			}

			&__input--street {
				grid-area: street;
			}

			&__input--town {
				grid-area: town;
			}

		}

		&__dress, .dress {
			grid-area: dress;

			&__heading {
				color: $white-100;
			}
		}

	}

}