.buy-form {
	background-color: $blue-100;
	position: relative;
	margin-top: 120px;

	&__container, .container {
		display: grid;
		grid-template-areas: 
			"picture heading"
			"picture personal-data"
			"dress try-on"
			"dress upload"
			"dress action";
		grid-template-columns: 320px auto;
		grid-template-rows: auto auto auto auto ;
		grid-row-gap: 32px;
		grid-column-gap: 64px;

		& > * {
			position: relative;
			bottom: 120px;
		}



		&__heading {
			grid-area: heading;
			color: $blue-100;
			margin-bottom: 40px;
		}

		&__picture {
			grid-area: picture;
			height: 400px;
			align-self: start;
			justify-self: start;
		}

		&__personal-data, .personal-data {
			grid-area: personal-data;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 24px;
			
			&__heading {
				color: $white-100;
				margin-bottom: 24px;
			}
		
			&__heading,
			&__input--street,
			&__input--town {
				grid-column: span 2;
			}

		}

		&__dress, .dress {
			grid-area: dress;
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 24px;


			&__heading {
				color: $white-100;
				margin-bottom: 24px;
			}

		}

		&__try-on, .try-on {
			grid-area: try-on;
			display: grid;
			grid-gap: 32px;
			grid-template-columns: 1fr 1fr;
			
			&__heading  {
				color: $white-100;
				margin-bottom: 24px;
			}

			&__heading  {
				grid-column: span 2;
			}

		}

		&__upload, .upload {
			grid-area: upload;

			&__heading {
				color: $white-100;
				margin-bottom: 24px;
			}

		}

		&__action, .action {
			grid-area: action;
			display: grid;

			&__submit {
				margin-top: auto;
				justify-self: end;
				margin-bottom: 0;
			}

		}

	}

	@media (max-width: 950px) {

		&__container, .container {
			grid-template-columns: 240px auto;

			&__try-on, .try-on {
				grid-template-columns: 1fr;
				
				&__heading  {
					color: $white-100;
					margin-bottom: 24px;
				}

				&__heading,
				&__input  {
					grid-column: span 1;
				}

			}

		}





	}

	@media (max-width: 850px) {

		&__container, .container {
			grid-template-areas: 
				"heading"
				"personal-data"
				"try-on"
				"dress"
				"upload"
				"action";
			grid-template-columns: 100%;
			grid-template-rows: auto auto auto auto ;
			grid-row-gap: 32px;
			grid-column-gap: 64px;
			
			&__picture {
				border: 10px solid red !important;
				display: none;
			}
			
			&__personal-data, .personal-data {
				grid-template-columns: 1fr;

				&__heading,
				&__input {
					grid-column: span 1;
				}

			}

		}	

	}

}