* {
    font-size: 16px;
    font-family: "Beausite-Slick", Arial, sans-serif;
    font-weight: 300;
}

.heading {
    font-size: 45px;
    letter-spacing: 7%;
    font-family: "Beausite-Slick", Arial, sans-serif;
    line-height: 1.5;

    &--h1 {
        font-family: "Beausite-Slick", Arial, sans-serif;
        font-size: 45px;
        letter-spacing: 7%;
        line-height: 1.5;
    }

    &--h2 {
        font-family: "Beausite-Slick", Arial, sans-serif;
        font-size: 35px;
        letter-spacing: 7%;
        line-height: 1.5;
    }

    &--h3 {
        font-family: "Beausite-Classic", Arial, sans-serif;
        font-size: 35px;
        letter-spacing: 7%;
        line-height: 1.5;
    }

    &--h4 {
        font-family: "Beausite-Slick", Arial, sans-serif;
        font-size: 25px;
        letter-spacing: 7%;
        line-height: 1.5;
    }

}

.paragraph {
    font-size: 25px;
    font-family: "Beausite-Classic", Arial, sans-serif;
    line-height: 1.5;

    &--small {
        font-size: 18px;
    }

}

.button {
    font-size: 18px;
}

.input-field {

    &__label, 
    &__input {
        font-family: "Beausite-Classic", Arial, sans-serif;
    }

    &__label {
        margin-bottom: px;
        display: block;
    }

    &__error {
        font-size: 12px;
    }

    &__header, .header {

        &__text {
            font-size: 18px;
        }
    }

    &__menu, .menu {

        &__item, .item {

            &__label {
                font-family: "Beausite-Classic", Arial, sans-serif;
                font-size: 18px;
            }

            &__info {
                font-family: "Beausite-Classic", Arial, sans-serif;
                font-size: 12px;
            }

        }

    }

}

.input-submit {

    &__input {
        font-size: 24px;
    }

}

.footer {

	.item__text {
    font-family: "Beausite-Slick", Arial, sans-serif;
		font-size: 18px;
	}

}

.mobile-navigation {

	&__menu, .menu {

		&__item {
    	font-family: "Beausite-Slick", Arial, sans-serif;
			font-size: 24px;
			line-height: 1.5;
		}

	}

}

.heading {

	&--h1 {
		font-size: 32px;
	}

	&--h2 {
		font-size: 24px;
	}

}