.data-privacy-content {
    
    &__heading {
        margin-bottom: 32px;
        text-align: center;;
    }

    &__content, .content {

        &__item {
            margin-bottom: 32px;
        }
    }


}