.desktop-navigation {
	
	&__bar, .bar {
		padding: 24px;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background-color: $white-100;
		align-items: center;
		z-index: 50;
		height: 200px;
		
		&__logo {
			height: 40px;
			margin: 40px 0;
		}
		
		&__links, .links {
			
			&__item, .item {
				padding: 8px;
				margin: 12px;
				cursor: pointer;

				&--active {
					text-decoration: underline;
				}

			}
			
		}
		
	}

	&__placeholder {
		height: 200px;
	}

	@media (width < 800px) {
		display: none;
	}
	
}