.desktop-navigation {
	
	&__bar, .bar {
		padding: 24px;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $white-100;
		z-index: 50;
		transition: all 0.5s ease;
		height: 144px;
		
		&__logo {
			height: 40px;
			margin-bottom: 40px;
			transition: all 0.5s ease;
		}
		
		&__links, .links {
			
			&__item, .item {
				padding: 8px;
				margin: 12px;
				cursor: pointer;

				&--active {
					text-decoration: underline;
				}

			}
			
		}
		
	}

	&__placeholder {
		height: 144px;
	}

	&--small {

		&__bar, .bar {
			height: 112px;

			&__logo, .logo {
				margin-bottom: 24px;
				height: 24px !important;
			}

		}

		&__placeholder {
			height: 102px;
		}

	}

	@media (max-width: 800px) {
		display: none;
	}
	
}